@import "tailwindcss" theme(static);
@import "@nuxt/ui-pro";

@theme {
  --font-sans: "Lato", sans-serif;
  --font-cursive: "Pattaya", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --ui-primary: var(--ui-color-primary-700);
  --ui-secondary: var(--ui-color-secondary-600);
  --ui-bg: var(--ui-color-neutral-200);
  --ui-text: var(--ui-color-neutral-600);
  --ui-text-highlighted: var(--ui-color-neutral-600);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-text-dimmed: var(--ui-color-neutral-500);
  --ui-border: var(--ui-color-neutral-300);
}

.dark {
  --ui-primary: var(--ui-color-primary-500);
  --ui-secondary: var(--ui-color-secondary-600);
  --ui-bg: var(--ui-color-neutral-950);
  --ui-text: var(--ui-color-neutral-300);
  --ui-text-highlighted: var(--ui-color-neutral-300);
  --ui-text-muted: var(--ui-color-neutral-400);
  --ui-text-dimmed: var(--ui-color-neutral-400);
  --ui-border: var(--ui-color-neutral-700);
}

.hover-link {
  @apply inline-block relative dark:after:bg-slate-300 after:bg-slate-600 after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-[1px] after:bottom-0 after:left-0 after:origin-center after:transition-all after:ease-in-out after:duration-500 hover:after:scale-x-100;
}
